*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Righteous', cursive;
}

.header {
	width: 100vw;
	height: 15vh;
}

.logo {
	position: absolute;
	width: 200px;
	height: 72.98px;
	left: 40px;
	top: 40px;
}

.logo:hover {
	cursor: pointer;
}

.navbar {
	font-size: 24px;
	position: absolute;
	width: 628px;
	height: 30px;
	left: 993px;
	top: 70px;
	display:flex;
	justify-content:space-around;
}

.unselected {
	color: black;
	text-decoration: none;
}

.unselected:hover {
	cursor:pointer;
	color: red;
}

.unselected:hover .selected {
	cursor:pointer;
	color: black;
	text-decoration: none;
}

.selected {
	color: red;
	text-decoration: underline;
}

.main {
	display:flex;
 	width: 100vw;
 	height: 75vh;
}

.photo {
	margin-top: 80px;
	margin-left: 99px;
	width: 800px;
	height: 533px;
	border-radius: 20px;
	float: left;
	background-image: url(img/mainphoto.jpeg);
}

.text {
	width: 800px;
	height: 100%;
	margin-left:100px;
	float: right;
	background-image: url(img/Vectormain.png);
	background-repeat: no-repeat;
	background-position: center;
}

.text p {
	position: absolute;
	top: 430px;
	left: 1235px;
	text-align: center;
	font-size: 24px;
	width: 420px;
	height: 175px;
}
.footer {
	display: flex;
	width: 100vw;
	height: 7vh;
}

.links {
	margin-left: 100px;
	width: 10%;
	height: 100%;
	float: left;
}

.links img:hover {
	cursor: pointer;
}

.copyright {
	margin-left:10px;
	padding-left: 10px;
	width: 40%;
	height: 100%;
}

.copyright p {
	padding-top: 6px;
	color:#686363;
}

.blast {
	float: left;
	margin-top: 130px;
	margin-left: 99px;
	border: 1px solid black;
	width: 700px;
	height: 415.42px;
	border-radius: 20px;
	background-image: url(img/blast.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.line {
	margin-left: 75px;
	margin-top: 15px;
	border:1px solid black;
	width: 0px;
	height: 631px;
}

.news {
	width: 900px;
	height: 100%;
	margin-left:50px;
	float: right;
	background-image: url(img/Vectornews.png);
	background-repeat: no-repeat;
	background-position: center;
}

.news h1 {
	font-weight: lighter;
	color: red;
	margin-left: 350px;
	margin-top: 120px;
}

.news p {
	font-size:1.2em;
	text-align: center;
	width: 80%;
	padding-left: 200px;
	padding-top: 70px;
}

.merch {
	margin-top: 50px;
	margin-left: 99px;
	width: 500px;
	height: 569px;
	border-radius: 20px;
	float: left;
	background-image: url(img/tshirt.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#grid {
	padding-top: 100px;
	height: 75vh;
	width: 90%;
	margin: auto;
	display: grid;
	grid-gap: 10px;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 50% 1fr 50%;	
}

#grid>div {
	background-color: rgba(196, 196, 196, 0.14);
	border:1px solid black;
	border-radius: 3px;
	padding-top: 10px;
	padding-left: 30px;
}

#grid div h2 {
	font-weight: lighter;
	color: red;
}
#grid div h3{
	padding-top: 20px;
	font-weight: lighter;
}
#grid div p{
	padding-top: 20px;
	width: 90%;
}

#grid div span {
	position: absolute;
	color: red;	
}

#grid div span:hover {
	cursor: pointer;
}

.preloader {
	position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #e0e0e0;
    z-index: 1001;
    }

.preloader__image {
	position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

 @keyframes preloader-rotate {
    100% {
    	transform: rotate(360deg);
    }
}

.loaded_hiding .preloader {
    transition: 3s opacity;
    opacity: 0;
}

.loaded .preloader {
	display: none;
}

.hoodie {
    position: absolute;
  	right:-0;
    width:650px;
    height: 85vh;
    background-image: url(img/HOODIE1.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.merchtext {
	text-align: center;
    float: left;
    color: red;
    margin-left: 400px;
    padding-top: 300px;
    width:600px;
    height: 75vh;
}
.merchtext h3 {
	padding-top: 10px;
	color:red;
	font-weight: lighter;
}
.merchtext img{
	margin-top: 30px;
	width: 75px;
	height: 75px;
}


